

{% extends "base.html" %}
{% load static %}
{% block content %}
    <body>
    {% include 'include/header.html' %}
        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url(assets/img/banner/banner-2.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>Checkout</h2>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
         <!-- shopping-cart-area start -->
        <div class="checkout-area pt-95 pb-70">
            <div class="container">
                <h3 class="page-title">checkout</h3>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="checkout-wrapper">
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>1</span> <a data-toggle="collapse" data-parent="#faq" href="#payment-1">Checkout method</a></h5>
                                    </div>
                                    <div id="payment-1" class="panel-collapse collapse show">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="checkout-register">
                                                        <h5 class="checkout-sub-title">great an account</h5>
                                                        <p>Please enter your email address to create an account</p>
                                                        <form>
                                                            <label> Email Address </label>
                                                            <input type="email" name="email">
                                                            <button class="checkout-btn" type="submit">Great An Account</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="checkout-login">
                                                        <h5 class="checkout-sub-title">login</h5>
                                                        <form>
                                                            <div class="login-form">
                                                                <label> Email Address </label>
                                                                <input type="email" name="email">
                                                            </div>
                                                            <div class="login-form">
                                                                <label> Password </label>
                                                                <input type="email" name="email">
                                                            </div>
                                                        </form>
                                                        <div class="login-forget">
                                                            <button class="checkout-btn" type="submit">Login</button>
                                                            <a href="#">Forgot your password?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="post">
                                    {% csrf_token %}

                                    <!-- Billing Information -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>1</span> Billing Information</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="billing-info">
                                                {{ billing_form.as_p }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Shipping Information -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>2</span> Shipping Information</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="shipping-info">
                                                {{ shipping_form.as_p }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Shipping Method -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>3</span> Shipping Method</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="shipping-method">
                                                {{ shipping_method_form.as_p }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Payment Information -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>4</span> Payment Information</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="payment-info">
                                                {{ credit_card_form.as_p }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Payment Method -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>5</span> Payment Method</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="payment-method">
                                                {{ payment_form.as_p }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Order Review -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><span>6</span> Order Review</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="order-review">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Name</th>
                                                            <th>Price</th>
                                                            <th>Qty</th>
                                                            <th>Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in cart.items.all %}
                                                            <tr>
                                                                <td>{{ item.product.name }}</td>
                                                                <td>{{ item.product.price }}</td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td>{{ item.total_price }}</td>
                                                            </tr>
                                                        {% empty %}
                                                            <tr>
                                                                <td colspan="4">Your cart is empty</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3">Subtotal</td>
                                                            <td>{{ cart.get_total_price }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">Shipping & Handling</td>
                                                            <td>$45.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3"><strong>Grand Total</strong></td>
                                                            <td><strong>{{ cart.get_total_price|add:45 }}</strong></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="billing-btn">
                                        <button type="submit">Complete Order</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="checkout-progress">
                            <h4>Checkout Progress</h4>
                            <ul>
                                <li>Billing Address</li>
                                <li>Shipping Address</li>
                                <li>Shipping Method</li>
                                <li>Payment Method</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		{% include 'include/footer.html' %}

		{% endblock %}